/* Blog section */
.blog_section {
    padding: 50px 0;
}

.blog_section h2 {
    text-align: center;
    margin-bottom: 50px;
}

.blog_section .container {
    max-width: 1200px;
}

.blog_section .row {
    margin: 0 -15px;
}

.blog_section .col-md-6-row {
    padding: 0 15px;
}

.blog_section .box {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 30px;
   
}
.blog_section .img-box {
    
    width: 200%;/* Add border property here */
}
.blog_section .img-box img {
   
    height: auto;
    border: 1px solid #ddd; 
}

.blog_section .detail-box {
    padding: 20px;
}

.blog_section .detail-box h5 {
    font-size: 18px;
    margin-bottom: 15px;
}

.blog_section .detail-box p {
    font-size: 14px;
    color: #666;
    margin-bottom: 15px;
}

.blog_section .detail-box a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #6bb7be;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.blog_section .detail-box a:hover {
    background-color: #5a9ba4;
}

@media (max-width: 767px) {
    .blog_section .col-md-6-row {
        width: 100%;
    }
}
